# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/bookhair/node_modules
/bookhair/.pnp
/bookhair/.pnp.js

# testing
/bookhair/coverage

# next.js
/bookhair/.next/
/bookhair/out/

# production
/bookhair/build

# misc
/bookhair/.DS_Store
/bookhair/*.pem

# debug
bookhair/npm-debug.log*
bookhair/yarn-debug.log*
bookhair/yarn-error.log*

# local env files
/bookhair/.env*.local

# vercel
/bookhair/.vercel

# typescript
/bookhair/*.tsbuildinfo
/next-env.d.ts/bookhair/

# prisma
/bookhair/.env
/bookhair/.env.local
/bookhair/dev.db*

# postgresql
/postgres-data